
{% set title = "JS DELIVERY" %}
{% extends "layout/client.html" %}
 
{% block content -%}
  <!-- main -->
    <main class="container main" id="main_wrap">
      <section class="row search">
        <div class="col-xs-12">
          <h2 class="h6 title">주위에 50개의 식당이 있어요</h2>
          <div class="input-group searchInputGroup">
            <label for="searchInput" class="a11y-hidden">식당 검색</label>
            <input type="text" id="searchInput" class="form-control " placeholder="식당이름으로 검색해보세요">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span class="a11y-hidden">검색하기</span>
              </button>
            </span>
          </div>
          <ul class="hash-tag body2">
            <li><a href="#">#맛집</a></li>
            <li><a href="#">#피자</a></li>
            <li><a href="#">#치킨</a></li>
            <li><a href="#">#햄버거</a></li>
            <li><a href="#">#파스타</a></li>
          </ul>
        </div>
      </section>
      <section class="row map">
        <div class="col-xs-8">
          <h2 class="sub-title1">가까운 음식점</h2>
          <p class="body1">근처에 가까운 음식점이 있어요.</p>
        </div>
        <div class="col-xs-4">
          <button type="button" class="pull-right btn btn-point btn-line btn-sm">
            지도에서 보기
          </button>
        </div>
        
        <div id="map_area" style="width:100%;height:350px; margin:10px 0 50px 0;"></div>
      </section>
      <section class="row restaurant">
        <div class="col-xs-7 col-xs-offset-5">
          <button type="button" id= "order_byNear" class="btn btn-link btn-sort
          {% if req_query.lat and req_query.lng %}active{% endif %}">
          
            <i class="fa fa-map" aria-hidden="true"></i>
            <i class="fa fa-arrows-h" aria-hidden="true"></i>
            <span>거리순</span>
          </button>
          <button type="button" class="btn btn-link btn-sort">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <span>인기순</span>
          </button>
        </div>
        <div class="col-xs-12">
          <h2 class="a11y-hidden">식당 리스트</h2>
          <ul class="row restaurant-list">
          {% for shop in shops %}
            <li class="col-xs-6">
              <a href="/shops/{{shop.id}}">
                <div class="thumb">
                  <img src="/uploads/{{shop.thumbnail}}" alt="">
                </div>
                <h3 class="name sub-title2">{{shop.name}}</h3>
                <p class="address body2">{{shop.address}}</p>
              </a>
            </li>
            {% endfor %}
        
        </div>
      </section>

    </main>
<script src="/static/js/kakaomap.js"></script>
<script>
var shops = {{shops | dump | safe}};
window._defaultGeo = {
  lat : 37.628725516971784,
  lng : 127.02506972895507
}

if(navigator.geolocation){

  navigator.geolocation.getCurrentPosition(function(position){
  window._defaultGeo.lat = position.coords.latitude;
  window._defaultGeo.lng = position.coords.longitude;

  var mapContainer = new kakao.maps.Map(

   document.getElementById("map_area"),
   {
       center: new kakao.maps.LatLng(window._defaultGeo.lat,window._defaultGeo.lng), 
       level: 5
    }
  );
  homeMap(mapContainer, shops, window._defaultGeo.lat, window._defaultGeo.lng);
  mapContainer.setCenter(new kakao.maps.LatLng(window._defaultGeo.lat,window._defaultGeo.lng));
  }, function(error){

    if(error.code ==1){
      alert('위치정보를 허용해주세요');
    }else if(error.code ==2){
      alert('유효하지 않은 위치입니다.');
    }

  },{timeout : 5000})

}else{
  alert('지도관련 기능을 사용할 수 없습니다.');
}

$(document).ready(function(){

  $('#order_byNear').click(function(e){
      location.href = `/?lat=${window._defaultGeo.lat}&lng=${window._defaultGeo.lng}`;
  });

});

</script>

{% endblock %}