{% set title = "상점 등록" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <form action="" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <input type="hidden" name="user_id" value="{{currentUser.username}}" />
        <table class="table table-bordered">
            <tr>
              <th>이름</th>
              <td><input type="text" name="name" class="form-control" value="{{ shop.name }}" /></td>
            </tr>
            <tr>
              <th>썸네일</th>
              <td>
                <input type="file" name="thumbnail"/>
              </td>
            </tr>
            <tr>
              <th>주소</th>
              <td>
              <div class="form-inline">
                <input type="hidden" name="geo" value="{{shop.geo.coordinates[0]}}, {{shop.geo.coordinates[1]}}"/>
                <input type="text" name="address" class="form-control" value="{{ shop.address }}" style: "width:300px;"/>
                <a class="btn btn-primary btn-sm btn_select" id="map_search" style="display: inline-block">
                주소 검색
                </a>
                </div>
                <br/>
                <div id ="map_area" style="width:100%; height:250px; margine:10px 0 50px 0; visibility:hidden;"></div>
              </td>
            </tr>
            <tr>
              <th>상세주소</th>
              <td><input type="text" name="location" class="form-control" value="{{ shop.location }}" /></td>
            </tr>
            <tr>
              <th>전화번호</th>
              <td><input type="text" name="phone" class="form-control" value="{{ shop.phone }}" /></td>
            </tr>
            <tr>
              <th>운영시간</th>
              <td><input type="text" name="open_time" class="form-control" value="{{ shop.open_time }}" placeholder="오전10시~오후6시"/></td>
            </tr>
            <tr>
              <th>핸드폰번호</th>
              <td><input type="text" name="cell_phone" class="form-control" value="{{ shop.cell_phone }}"/></td>
            </tr>

            {% if '/admin/shops/edit/' in req_path %}
            <tr>
               <th>태그</th>
               <td>
                   <div class="row">
                       <div class="col-sm-5">
                           <input type="text" id="tag_input" class="form-control" placeholder="입력후 엔터 태그추가 버튼을 눌러주세요">
                       </div>
                       <div class="col-sm-7">
                           <a class="btn btn-primary btn-sm btn_select" id="tag_submit" style="display: inline-block">
                               태그 추가
                           </a>
                       </div>
                   </div>
                   <div id="tag_area">
                   {% for tag in shop.Tag %}
                   <div class="icon_tag">
                    {{tag.name}}
                    <a href="#" class="delete_tag" tag_id="{{tag.id}}">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    </a>  
                   </div>
                   {% endfor %}
               </td>
            </tr>
          {% endif %}
        </table>
        <button class="btn btn-primary">작성하기</button>
    </form>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/static/js/kakaomap.js"></script>
<script>
var mapContainer = new kakao.maps.Map(


   document.getElementById("map_area"),
   {
       center: new kakao.maps.LatLng(37.5690366,126.9503368), 
       level: 3
    }
);
{% if shop.address and shop.geo  %}
mapSearchByAddress(
   mapContainer ,
   '#map_area',
   'input[name=geo]' ,  
   $('input[name=name]') ,
   $('input[name=address]')

);
{% endif %}

$('#map_search').click(function(){
  var $address = $('input[name=address]');
  var $name = $('input[name=name]');
  new daum.Postcode({
        oncomplete: function(data) { 	
        	console.log(data);
            var roadAddr = data.roadAddress; // 도로명 주소 변수
            var jibunAddr = data.jibunAddress; // 지번 주소 변수
            
            if(roadAddr !== ''){
                $address.val(roadAddr);
            } 
            else if(jibunAddr !== ''){
                $address.val(jibunAddr);
            }
              mapSearchByAddress(
              mapContainer,
              '#map_area',
              'input[name=geo]',
              $name,
              $address,
            );
        }
    }).open();
});

$('#tag_submit').click(function(e){
   e.preventDefault();
   var $shop_id = "{{ shop.id }}";
   var $tag_input = $('#tag_input');
   if(!$tag_input.val()){
       alert('태그명을 입력하세요');
       $tag_input.focus();
       return false;
   }

   if($tag_input.val().length < 2 ){
       alert('두글자 이상 입력하세요.');
       $tag_input.focus();
       return false;
   }

   $.ajax({
       url : '/admin/tag',
       type: 'post',
       data : {
           name : $tag_input.val().trim(),
           shop_id : $shop_id
       }
   })
   .done(function(result){

       if(result.status.length){
           var tag = result.tag;
           $('#tag_area').append('\
               <div class="icon_tag">' +
                   tag.name +
                   ' <a href="#" class="delete_tag" \
                       tag_id="' + tag.id +'" > \
                       <i class="fa fa-times" aria-hidden="true"></i> \
                   </a> \
               </div>\
           ');
           $('#tag_input').val('');
       }else{
           alert('이미 있는 등록된 태그입니다.');
       }
      
   })
   .fail(function(result){
       console.log(result);
       alert('오류 발생');
   });
});

$('.delete_tag').click(function(e){
     e.preventDefault();
     var shop_id ="{{shop.id}}";
     var $self = $(this);

     $.ajax({
       url : '/admin/tag/'+shop_id+ '/' +$self.attr('tag_id'),
       type: 'delete'      
   })
   .done(function(result){
     $self.parent().remove();
   })
   .fail(function(result){
      console.log(result);
   });
});

</script>
<style>
.icon_tag{
  display: inline-block;
  background-image: linear-gradient(45deg, #5155a3 , #9c387a, #c82764);
  padding: 3px 10px;
  font-size: 1.2em;
  margin: 5px 0 30px;
  border-radius: 50px;
  color:#fff;
}
.icon_tag a{display:inline-block;color:#fff;}
</style>
{% endblock %}