{% set title = "관리자 : 주문상세" %}
{% extends "layout/base.html" %}
{% block content %}

 <h3>주문상세표</h3>
 <form action="" method="post">
     <table class="table table-bordered table-hover">
         <tbody>
             <tr>
                 <th>주문자</th>
                 <td>
                     {{ checkout.buyer_name }} ( {{ checkout.buyer_email }} )
                 </td>
             </tr>
             <tr>
               <th>식당</th>
               <td>
                 {{ checkout.Shop.name }}
               </td>
             </tr>
             <tr>
               <th>주문내역</th>
               <td>
                 {% for menu in checkout.Menu %}
                   {{ menu.name }} : {{ menu.price }}  <br />
                 {% endfor %}
               </td>
             </tr>
             <tr>
                 <th>결제 금액</th>
                 <td>
                     {{checkout.paid_amount}}
                 </td>
             </tr>
             <tr>
                 <th>주소</th>
                 <td>
                     {{checkout.buyer_addr}}
                 </td>
             </tr>
             <tr>
                 <th>주문일</th>
                 <td>
                     {{ checkout.dateFormat( checkout.createdAt ) }}
                 </td>
             </tr>
             <tr>
                 <th>결재상태</th>
                 <td>
                     <select name="status"
                         class="form-control" 
                         style="max-width:120px">
                         <option value="">없음</option>
                         {% set
                             options = [ '결재완료' , '조리완료' , '픽업완료' ]
                         %}
                         {% for option in options %}
                             <option value="{{ option }}" {% if checkout.status===option %} selected {% endif %}>{{ option }}</option>
                         {% endfor %}
                     </select>
                 </td>
             </tr>
         </tbody>
     </table>
     <a href="/admin/order" class="btn btn-default">목록으로</a>
     <button class="btn btn-primary">상태변경</button>
 </form>
  
{% endblock %}
