{% set title = "상점" %}
{% extends "layout/client.html" %}
 
{% block content %}
<main class="container detail" >
      <section class="row img-slider"
      {% if not shop.thumbnail %}
        style="background-image: url(/static/images/thumb.jpg">
      {% else %}
        style="background-image: url(/uploads/{{shop.thumbnail}}">
      {% endif %}
        <div class="col-xs-12">
          <h2 class="a11y-hidden">이미지 슬라이더</h2>
          <button type="button" class="btn-prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="a11y-hidden">이전</span>
          </button>
          <button type="button" class="btn-next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="a11y-hidden">다음</span>
          </button>
          <ul class="indicator">
            <li class="active"><a href="">1번째</a></li>
            <li><a href="">2번째</a></li>
            <li><a href="">3번째</a></li>
            <li><a href="">4번째</a></li>
            <li><a href="">5번째</a></li>
          </ul>
        </div>
      </section>
      <section class="row restaurant-info">
        <div class="col-xs-12 name">
          <h2 class="h6">{{shop.name}}</h2>
          <button type="button" class="btn btn-link btn-ghost btn-share">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <span class="a11y-hidden">공유하기</span>
          </button>
        </div>
        <ul class="col-xs-12 info1 body1">
          <li>{{shop.address}}</li>
          <li>{{shop.phone}}</li>
          <li>
            <button type="button" class="btn btn-link btn-like">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span>0</span>
            </button>
          </li>
        </ul>
      </section>
      <section class="row menu-board">
        <div class="col-xs-12">
          <div class="menu-box">
            <h2 class="sub-title1 font-nanum title">대표 메뉴</h2>
            <ul class="menu-list">
             {% for menu in shop.Menu %}
              <li class=""><a 
                href=""
                menu_id="{{menu.id}}"
                name="{{menu.name}}"
                price="{{menu.price}}"
                class="getCart"
              >
                <h3 class="sub-title2">{{menu.name}}</h3>
                <p class="body2">{{menu.price}}원</p>
              </a></li>
              {% endfor %}
              
            </ul>
          </div>
        </div>
      </section>
      <section class="row restaurant-info2 body2">
        <ul class="col-xs-12">
          <li>
            <i class="fa fa-check" aria-hidden="true"></i>
            <span class="textPrimary">위치</span>
            <span>{{shop.address}}  {{shop.location}}</span>
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i>
            <span class="textPrimary">운영시간</span>
            <span>{{shop.open_time}}</span>
          </li>
          <li>
            <i class="fa fa-check" aria-hidden="true"></i>
            <span class="textPrimary">연락처</span>
            <span>{{shop.cell_phone}}</span>
          </li>
        </ul>
      </section>
      <section class="row restaurant-map">
        <div class="col-xs-12">
         <div id="map_area" style="width:100%;height:350px; margin:10px 0 50px 0;"></div>
          </div>
        </div>
      </section>
    </main>
        <a href="/cart" class="btn-cart " id="cart_btn">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <i class="cart-item-counter">{{cartLength}}</i>
       </a>
<script src="/static/js/kakaomap.js"></script>
<script>
$(document).ready(function(){

var lat = {{shop.geo.coordinates[1]}};
var lng = {{shop.geo.coordinates[0]}};
var shopname = "{{shop.name}}";

var mapContainer = new kakao.maps.Map(

   document.getElementById("map_area"),
   {
       center: new kakao.maps.LatLng(lat,lng), 
       level: 3
    }
);
mapSearchByAddressCL(
    mapContainer,
    lat,
    lng,
    shopname,
    );


      $('#cart_btn').click(function() {
      var cartCounter = parseInt( $('.cart-item-counter').text() );
      if(!cartCounter){
        alert(' 카트를 담아주세요.');
      }else{
        location.href="/cart"
      }
    });

    $('.getCart').click(function(e){

      let shopFlag = {{shopFlag}};     
      if(!shopFlag){
         if(confirm("카트에 같은 가게의 메뉴만 담을 수 있습니다.'\n'카트를 삭제하고 새로 담으시겠습니까?")){
           delCookie('cartList');
           
         }else{
           return false;
         }
      }
      
      e.preventDefault();
      const menuN = $(this).attr('name');
      if(confirm(menuN +'를 담기')){
          const shop_id = {{shop.id}};
          const menu_id = $(this).attr('menu_id');
          const price = $(this).attr('price');

          var cartList = {};

          if( getCookie('cartList')){
            cartList = JSON.parse(getCookie('cartList'));
          }
          cartList[menu_id] = {
            shop_id,
            name:menuN,
            price,
          }
          console.log(menuN);
          setCookie("cartList", JSON.stringify(cartList), 3);
          $('.cart-item-counter').text(Object.keys(cartList).length);
      }
    });
});
</script>
{% endblock %}